{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-3"></div>
    <div class="col-md-6">
        {{ form_start(myForm) }}
        {{ form_widget(myForm) }}
        {{ form_end(myForm) }}
    </div>
    <div class="col-md-3"></div>



{% endblock %}