{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
    {% for product in products %}
        <div class="col-md-4 text-center">
        <img class="img-thumbnail" style="height: 200px" src="{{ asset('uploads/photos/') }}{{ product.id }}.jpg"></img>
        <p class="text-center">{{ product.title }}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}